USE [master]
GO
/****** Object:  Database [baberShop]    Script Date: 6/18/2025 10:43:18 PM ******/
CREATE DATABASE [baberShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'baberShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\baberShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'baberShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\baberShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [baberShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [baberShop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phoneNumber] [nvarchar](15) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NOT NULL,
	[firstName] [nvarchar](255) NOT NULL,
	[lastName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerId] [int] NOT NULL,
	[staffId] [int] NOT NULL,
	[appointmentTime] [datetime] NOT NULL,
	[numberOfPeople] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment_Service]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment_Service](
	[appointmentId] [int] NOT NULL,
	[serviceId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appointmentId] ASC,
	[serviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NOT NULL,
	[firstName] [nvarchar](255) NOT NULL,
	[lastName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Voucher]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Voucher](
	[customerId] [int] NOT NULL,
	[voucherId] [int] NOT NULL,
	[receivedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customerId] ASC,
	[voucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerId] [int] NOT NULL,
	[staffId] [int] NOT NULL,
	[appointmentId] [int] NOT NULL,
	[serviceId] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NOT NULL,
	[feedbackTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holiday]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holiday](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointmentId] [int] NOT NULL,
	[totalAmount] [float] NOT NULL,
	[voucherCode] [nvarchar](255) NULL,
	[receivedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Method]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Method](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoiceId] [int] NOT NULL,
	[amount] [float] NOT NULL,
	[paymentMethod] [nvarchar](50) NOT NULL,
	[paymentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [float] NOT NULL,
	[duration] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Method]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Method](
	[ServiceId] [int] NOT NULL,
	[MethodId] [int] NOT NULL,
 CONSTRAINT [PK_Service_Method] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC,
	[MethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NOT NULL,
	[firstName] [nvarchar](255) NOT NULL,
	[lastName] [nvarchar](255) NOT NULL,
	[img] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[value] [float] NOT NULL,
	[expiryDate] [datetime] NOT NULL,
	[status] [int] NULL,
	[voucherName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedule]    Script Date: 6/18/2025 10:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staffId] [int] NOT NULL,
	[workDate] [date] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [email], [phoneNumber], [password], [role], [status]) VALUES (1, N'Linh123@gmail.com', N'0123451233', N'Linh123@', N'Admin', 1)
INSERT [dbo].[Account] ([id], [email], [phoneNumber], [password], [role], [status]) VALUES (2, N'Nguyen123@gmail.com', N'0123456789', N'Nguyen123@', N'Staff', 1)
INSERT [dbo].[Account] ([id], [email], [phoneNumber], [password], [role], [status]) VALUES (3, N'Cuong123@gmail.com', N'0120120101', N'Cuong123@', N'Customer', 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id], [accountId], [firstName], [lastName]) VALUES (1, 1, N'Linh', N'Nguyen Van')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([id], [customerId], [staffId], [appointmentTime], [numberOfPeople], [status]) VALUES (1, 1, 1, CAST(N'2024-06-06T00:00:00.000' AS DateTime), 2, N'pending')
INSERT [dbo].[Appointment] ([id], [customerId], [staffId], [appointmentTime], [numberOfPeople], [status]) VALUES (2, 1, 1, CAST(N'2024-06-06T09:00:00.000' AS DateTime), 2, N'pending')
INSERT [dbo].[Appointment] ([id], [customerId], [staffId], [appointmentTime], [numberOfPeople], [status]) VALUES (3, 1, 1, CAST(N'2025-06-02T08:30:00.000' AS DateTime), 1, N'pending')
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
INSERT [dbo].[Appointment_Service] ([appointmentId], [serviceId]) VALUES (2, 1)
INSERT [dbo].[Appointment_Service] ([appointmentId], [serviceId]) VALUES (3, 1)
INSERT [dbo].[Appointment_Service] ([appointmentId], [serviceId]) VALUES (4, 1)
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [accountId], [firstName], [lastName]) VALUES (1, 3, N'Cuong', N'Tran Cong')
INSERT [dbo].[Customer] ([id], [accountId], [firstName], [lastName]) VALUES (2, 19, N'Linh ', N'Văn ')
INSERT [dbo].[Customer] ([id], [accountId], [firstName], [lastName]) VALUES (3, 20, N'Nguy Nhu Phan', N'Nguyen')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Holiday] ON 

INSERT [dbo].[Holiday] ([id], [date], [name], [status]) VALUES (1, CAST(N'2025-06-01' AS Date), N'Quốc tế Thiếu nhi', N'locked')
INSERT [dbo].[Holiday] ([id], [date], [name], [status]) VALUES (2, CAST(N'2025-09-02' AS Date), N'Quốc Khánh', N'locked')
INSERT [dbo].[Holiday] ([id], [date], [name], [status]) VALUES (3, CAST(N'2025-06-30' AS Date), N'Nghỉ hè', N'locked')
SET IDENTITY_INSERT [dbo].[Holiday] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([id], [name], [price], [duration], [description], [image]) VALUES (1, N'Cat toc thuong gia', 499000, 90, N'C?t tóc co b?n v?i k? thu?t chuyên nghi?p, phù h?p m?i l?a tu?i, t?o ki?u t? nhiên', N'')
INSERT [dbo].[Service] ([id], [name], [price], [duration], [description], [image]) VALUES (2, N'Cắt gội Combo 1', 99000, 45, N'Cắt tóc cao cấp với tư vấn phong cách và tạo kiểu chuyên nghiệp, phù hợp với xu hướng', N'image\combo1\1.png, image\combo1\2.png, image\combo1\3.png')
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([id], [accountId], [firstName], [lastName], [img]) VALUES (1, 2, N'Nguyen', N'Phan', N'')
INSERT [dbo].[Staff] ([id], [accountId], [firstName], [lastName], [img]) VALUES (5, 36, N'Cuong', N'Tran Minh', N'image/staff/nhanvien1.jpg')
INSERT [dbo].[Staff] ([id], [accountId], [firstName], [lastName], [img]) VALUES (7, 41, N'John', N'Doe', N'null')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkSchedule] ON 

INSERT [dbo].[WorkSchedule] ([id], [staffId], [workDate], [status]) VALUES (9, 1, CAST(N'2025-06-12' AS Date), N'off')
INSERT [dbo].[WorkSchedule] ([id], [staffId], [workDate], [status]) VALUES (10, 1, CAST(N'2025-06-09' AS Date), N'off')
INSERT [dbo].[WorkSchedule] ([id], [staffId], [workDate], [status]) VALUES (11, 1, CAST(N'2025-06-10' AS Date), N'off')
SET IDENTITY_INSERT [dbo].[WorkSchedule] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__4849DA01D744DFEA]    Script Date: 6/18/2025 10:43:18 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[phoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__AB6E61649567C67E]    Script Date: 6/18/2025 10:43:18 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Holiday__D9DE21FDFB98FF96]    Script Date: 6/18/2025 10:43:18 PM ******/
ALTER TABLE [dbo].[Holiday] ADD UNIQUE NONCLUSTERED 
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT ((1)) FOR [numberOfPeople]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([staffId])
REFERENCES [dbo].[Staff] ([id])
GO
ALTER TABLE [dbo].[Appointment_Service]  WITH CHECK ADD FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointment] ([id])
GO
ALTER TABLE [dbo].[Appointment_Service]  WITH CHECK ADD FOREIGN KEY([serviceId])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Customer_Voucher]  WITH CHECK ADD FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Customer_Voucher]  WITH CHECK ADD FOREIGN KEY([voucherId])
REFERENCES [dbo].[Voucher] ([id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointment] ([id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([serviceId])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([staffId])
REFERENCES [dbo].[Staff] ([id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointment] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([invoiceId])
REFERENCES [dbo].[Invoice] ([id])
GO
ALTER TABLE [dbo].[Service_Method]  WITH CHECK ADD  CONSTRAINT [FK_ServiceMethod_Method] FOREIGN KEY([MethodId])
REFERENCES [dbo].[Method] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Service_Method] CHECK CONSTRAINT [FK_ServiceMethod_Method]
GO
ALTER TABLE [dbo].[Service_Method]  WITH CHECK ADD  CONSTRAINT [FK_ServiceMethod_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Service_Method] CHECK CONSTRAINT [FK_ServiceMethod_Service]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH CHECK ADD FOREIGN KEY([staffId])
REFERENCES [dbo].[Staff] ([id])
GO
ALTER TABLE [dbo].[Holiday]  WITH CHECK ADD CHECK  (([status]='unlocked' OR [status]='locked'))
GO
USE [master]
GO
